<h1><%= title %></h1>
<div class="aviso"> <%- messages() %> 
<% if (errors) { %>
<ul class="notice">
<% errors.array().forEach(error => { %>
<li><%= error.msg %></li>
<%  }) %>
</ul>
<% } %>
</div>

<p>This is the cheaper car we have at this moment.</p>
<p> You can visit this link anytime to see our cheaper car.</p>


<div id="the-details"> 
    <img src="<%= itemData.inv_image %>" alt="image">

    <div class="otherColumn"> 
        <h2>Details</h2>
        <strong><%= itemData.inv_make %> <%= itemData.inv_model %></strong>
        <p><strong>Price: </strong> <span><%= itemData.inv_price %></span></p>
        <p><strong>Description: </strong> <%= itemData.inv_description %></p>
        <p><strong>Color: </strong><%= itemData.inv_color %> </p>
        <p><strong>Year: </strong><%= itemData.inv_year %> </p>
        <p><strong>Miles: </strong><%= itemData.inv_miles %> </p>
    </div>
</div>